# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Spark logs
*.log
metastore_db/
spark-warehouse/
derby.log

# Output data (optional - descomenta si no quieres subir los datos procesados)
# data/processed/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
